page-checkerboard {
            #board, .bl, .wh {
	            display:block;
	            padding:0px;
	            margin:0px;
            }
			#board {
                    width: 100%;
					border: 2px solid grey;
                    background-color: slategrey;
					}

			ion-grid ion-col{
                width: 50px;
                height: 50px;
                border: .5px solid black;
                float: left;
            }		
			ion-grid ion-col.bl { 
                background-color: black; 
            }
			ion-grid ion-col.wh { 
                background-color: white; 
            }
/*            ion-grid ion-col.x { 
                width: 20px;
             }
            ion-grid ion-col.y { 
                width: 1px;
                }
            ion-grid ion-col.corner{ 
                height: 10px;
                width: 10px;
            }/**/
/*			
			ion-row div {
					float: left;
					}
/*					
			ion-row:after {
					content: ".";
					height: 0;
					visibility: hidden;
					display: block;
					clear: both;
					} /**/
                    
}
