<!--
  Generated template for the Checkerboard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Checkerboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <button (click)='testMoveService()'>Test</button>

  <ion-grid id='board'>
<!--    <ion-row>
      <ion-col class ='corner'></ion-col>
      <ion-col class='x'>A</ion-col>
      <ion-col class='x'>B</ion-col>
      <ion-col class='x'>C</ion-col>
      <ion-col class='x'>D</ion-col>
      <ion-col class='x'>E</ion-col>
      <ion-col class='x'>F</ion-col>
      <ion-col class='x'>G</ion-col>
      <ion-col class='x'>H</ion-col>
      <ion-col class ='corner'></ion-col>
    </ion-row> -->
    <ion-row>
<!--      <ion-col class ='y'>8</ion-col> -->
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='B8'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='D8'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage15' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='F8'></ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='H8'></ion-col>
<!--      <ion-col class ='y'>8</ion-col> -->
  </ion-row>
      <ion-row>
 <!--       <ion-col class ='y'>7</ion-col> -->
      <ion-col class ='bl'id='A7'(click)='toggleImage($event)'>
       <img *ngIf = 'showImage14' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='C7'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage13' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='E7'>
        <img src= '../../assets/Red.png'>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='G7'>
        <img src= '../../assets/Red.png'>
      </ion-col>
      <ion-col class ='wh'></ion-col>
 <!--         <ion-col class ='y'>7</ion-col> -->
      </ion-row>
     
    <ion-row>
<!--      <ion-col class ='y'>6</ion-col> -->
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='B6'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage12' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='D6'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage11' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='F6'></ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='H6'></ion-col>
<!--      <ion-col class ='y'>6</ion-col> -->
  </ion-row>
      <ion-row>
<!--        <ion-col class ='y'>5</ion-col> -->
      <ion-col class ='bl' id='A5'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage10' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='C5'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage9' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='E5'></ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='G5'></ion-col>
      <ion-col class ='wh'></ion-col>
 <!--         <ion-col class ='y'>5</ion-col> -->
      </ion-row>
    <ion-row>
 <!--     <ion-col class ='y'>4</ion-col> -->
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='B4'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage8' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='D4'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage7' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='F4'></ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='H4'></ion-col>
<!--      <ion-col class ='y'>4</ion-col> -->
  </ion-row>
      <ion-row>
<!--        <ion-col class ='y'>3</ion-col> -->
      <ion-col class ='bl' id='A3'(click)='toggleImage($event)'>
        <img *ngIf = 'showImage6' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='C3' (click)='toggleImage($event)'>
        <img *ngIf = 'showImage5' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='E3'></ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl' id='G3'></ion-col>
      <ion-col class ='wh'></ion-col>
 <!--         <ion-col class ='y'>3</ion-col> -->
      </ion-row>
    <ion-row>
<!--      <ion-col class ='y'>2</ion-col> -->
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl'id='B2' (click)='toggleImage($event)'>
        <img *ngIf = 'showImage4' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl'id='D2' (click)='toggleImage($event)'>
        <img *ngIf = 'showImage3' src = {{gamepiece}}>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl'id='F2'>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl'id='H2' (click)='toggleImage($event)'>
        <img *ngIf = 'showImage2' src = {{gamepiece}}>
      </ion-col>
 <!--     <ion-col class ='y'>2</ion-col> -->
  </ion-row>
      <ion-row>
 <!--       <ion-col class ='y'>1</ion-col> -->
      <ion-col class ='bl'id='A1' (click)='toggleImage($event)'>
        <img *ngIf = 'showImage1' src = '../../assets/Black.png'>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl'id='C1' (click)='addBlackPiece($event)'>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl'id='E1' (click)='addBlackPiece($event)'>
      </ion-col>
      <ion-col class ='wh'></ion-col>
      <ion-col class ='bl'id='G1' (click)='addBlackPiece($event)'></ion-col>
      <ion-col class ='wh' ></ion-col>
<!--          <ion-col class ='y'>1</ion-col> -->
      </ion-row>
 <!--         <ion-row>
      <ion-col class ='corner'></ion-col>      
      <ion-col class='x'>A</ion-col>
      <ion-col class='x'>B</ion-col>
      <ion-col class='x'>C</ion-col>
      <ion-col class='x'>D</ion-col>
      <ion-col class='x'>E</ion-col>
      <ion-col class='x'>F</ion-col>
      <ion-col class='x'>G</ion-col>
      <ion-col class='x'>H</ion-col>
      <ion-col class ='corner'></ion-col>
    </ion-row> -->
      </ion-grid>
</ion-content>
